[submodule "3-Machine_Learning/4-Deep_Learning/2-Redes_Convolucionales/taller_opencv"]
	path = 3-Machine_Learning/4-Deep_Learning/2-Redes_Convolucionales/taller_opencv
	url = https://github.com/svalencia-romero/taller_opencv.git
